@media screen and (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
    }

    p {
        max-width: 100%;
    }


    .titulo {
        color: rgb(96, 133, 233);
        text-transform: uppercase;
        font-size: xx-large;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .menu {
        text-align: center;
    }

    .listBoton {
        padding: 10px;
        text-align: left;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        width: 100%;
        display: none;
    }

    .listBoton li {
        width: 200px;
        padding: 10px;
        margin: auto;
        margin-top: 10px;
    }
    .listBoton img{
        background-color: none
    }
    .listBoton a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .burger {
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: white;
        border-radius: 3px;
        display: block;
        margin: auto;
    }

    .show {
       display: block;
    }

    #encabezadoimagen {
        width: 100%;
        padding: 0px;
        height: auto;
    }
}