* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color1: rgb(96, 133, 233);
  --color2: rgb(24, 89, 141);
  --color3: rgb(225, 230, 235);
  --fondo-box: #ffff;
  --spacing-1: 1em;
  --spacing-2: 1.5em;
  --text-color1:rgba(17, 19, 24, 0.814);
}

body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


#tabla1 {
  border: none;
  font-family: calibri;
}

.menu {
  background: var(--color1);
  width: 100%;
  padding: 10px;
}

.listBoton {
  padding: 10px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.listBoton li {
  display: flex;
  padding: 10px;
  gap: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.listBoton a {
  text-decoration: none;
  color: white;
}

#volver {
  color: rgb(225, 230, 235);
  text-decoration: none;
  padding: 10px;
  background-color: var(--color2);
  border-radius: 30px;
  font-family: "Times New Roman", Times, serif;
}

#somos {
  padding: 20px;
}

#servicios {
  padding: 20px;
}

#serv {
  color: rgb(2, 1, 1);
  text-decoration: none;
  padding: 10px;
  background-color: var(--fondo-box);
  border-style: ridge;
  font-family: "New Times Roman", Times, serif;
}

#contacto {
  padding: 20px;
}

#enviar {
  color: rgb(2, 1, 1);
  text-decoration: none;
  padding: 10px;
  background-color: var(--fondo-box);
  border-style: ridge;
  font-family: "New Times Roman", Times, serif;
}

#borrar {
  color: rgb(231, 229, 227);
  width: 100px;
  height: 40px;
  text-decoration: none;
  padding: 5px;
  background-color: rgb(207, 19, 28);
  font-family: "arial", sans-serif;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

textarea {
  border-color: blue;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

p {
  max-width: 80%;
}

#descripcion {
  font-size: 1.5em;
  font-weight: bold;
  font-family: candara;
  color: var(--text-color1);
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-family: candara;
  font-weight: bold;
  color: var(--text-color1);
  margin-bottom: 20px;
}

.burger {
  display: none;
}

.shoopcar {
  background: white;
  color: azure;
}

.seccion1 {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  background: #8e8b961e;
}

.content {
  padding: 10px;
}

.content1 {
  width: 60%;
}

.content2 {
  width: 40%;
  overflow: hidden;
}

#encabezadoimagen {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content-germina {
  width: 95%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 10px;
}

.enterogermina {
  width: 100%;
  transform: translateY(-50px);
}

.sesionform {
  width: 95%;
  padding: 0px 10px 0px 10px;
  border: 1px solid#66555531;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: auto;
  background: #ffffff;
}

.formato {
  display: flex;
  justify-content: space-between;
}

.sesionform select {
  width: 20%;
  height: 45px;
  font-size: 15px;
  border: 1px solid #3333333b;
  border-radius: 5px;
  color: #333333e3;
  padding-left: 10px;
}

.sesionform input {
  width: 50%;
  height: 45px;
  border: none;
  border: 1px solid #3333333b;
  border-radius: 6px;
  font-size: 15px;
  color: #333333e3;
  padding-left: 10px;
}

.sesionform input:focus {
  outline: 2px solid #89bdeec2;
}

.sesionform button {
  width: 25%;
  height: 45px;
  padding: 0;
  background: rgb(122, 150, 243);
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.seccion1 h2 {
  font-size: x-large;
  font-family: calibri;
  margin: 10px 0px 10px;
  color: #31355adc;
}

.opcionsesion {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.opcionsesion a {
  text-decoration: none;
  font-weight: bold;
  color: #19173b;
}

.registro {
  font-family: calibri;
  font-style: italic;
}

.registro span {
  color: #33245a;
}

.googleopcion span {
  font-weight: bold;
  color: #1c1944;
  font-style: italic;
  font-family: calibri;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.box {
  background: var(--fondo-box);
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #3333333b;
  padding: var(--spacing-2);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box1 p {
  margin: 0;
  margin-top: 10px;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.content-text span {
  color: var(--text-color1);
  font-weight: bolder;
  font-size: 1.25em;
}

.img-content {
  display: flex;
  justify-content: center;
}

#nota {
  width: 100%;
  height: auto;
}

.box img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 20px;
  border-radius: 4px;
}

@media screen and (max-width: 769px) {
  p {
    max-width: 100%;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 460px) {
  p {
    max-width: 100%;
  }

  .products {
    grid-template-columns: 1fr;
  }
}

.btn-comprar {
  padding: 10px;
  background: linear-gradient(
    45deg,
    rgb(24, 161, 74),
    rgb(31, 169, 107),
    rgb(38, 166, 83)
  );
  cursor: pointer;
  border-radius: 3px;
  color: rgb(229, 235, 238);
  border: none;
  max-width: 200px;
  margin-bottom: 10px;
}

.btn-comprar:active {
  background: rgb(212, 112, 29);
}

#section2 {
  width: 100%;
  max-width: 500px;
  background-color: gray;
}

.padre {
  background: orange;
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
}

.hijo {
  width: 400px;
  height: 150px;
  background-color: green;
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 1em;
  flex-shrink: 0;
}

.hijo2 {
  background-color: red;
}

.hijo3 {
  background-color: #1c1944;
}

.next {
  width: 100px;
  height: 50px;
  background: #1c1944;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 1em;
}

#section2:has(.next):hover {
  background: blue;
}
